# Tries file:
probador.py

# Other files:
sitting-on-car.jpg
.vscode
fac.ffm
webservice/server/package-lock.json
webservice/ui/package-lock.json
running-command.txt
ejemplo-transformar.txt
compare_models.py

# Folders:
tfmodels
__pycache__