# Tries file:
probador.py

# Other files:
.vscode
fac.ffm
webservice/server/package-lock.json
webservice/ui/package-lock.json
ejemplo-transformar.txt
compare_models.py

# Folders:
tfmodels
__pycache__