absl-py==0.9.0
astor==0.8.1
certifi==2020.4.5.1
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
gast==0.3.3
google-pasta==0.2.0
graphviz==0.8.4
grpcio==1.28.1
h5py==2.10.0
idna==2.9
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
Markdown==3.2.1
matplotlib==3.2.1
mxnet==1.5.1
networkx==2.4
numpy==1.18.3
onnx==1.13.0
opencv-python==4.2.0.34
paho-mqtt==1.5.0
pkg-resources==0.0.0
protobuf==3.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
requests==2.23.0
six==1.14.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
typing-extensions==3.7.4.2
urllib3==1.25.9
Werkzeug==1.0.1
wrapt==1.12.1
